BASE_URL=https://aura-web-whistleblowing-test.apps.cih-main.qo4k.p1.openshiftapps.com/login/
STAFF_URL=https://aura-web-whistleblowing-test.apps.cih-main.qo4k.p1.openshiftapps.com/login/
API_URL=https://your-api.example.com
TEST_ENV=qa

INVESTIGATOR_EMAIL=m_hod
INVESTIGATOR_PASSWORD= 9#FwqTJgegRa@ 

LEAD_INVESTIGATOR_EMAIL=
LEAD_INVESTIGATOR_PASSWORD='9#FwqTJgegRa@

HOD_EMAIL=m_hod
HOD_PASSWORD='9#FwqTJgegRa@'

GCIAO_EMAIL=m_hod
GCIAO_PASSWORD='9#FwqTJgegRa@'

GRC_EMAIL=m_hod
GRC_PASSWORD='9#FwqTJgegRa@'

HR_EMAIL=m_hod
HR_PASSWORD='9#FwqTJgegRa@'

LEGAL_EMAIL=m_hod
LEGAL_PASSWORD='9#FwqTJgegRa@'

ADMIN_EMAIL=m_hod
ADMIN_PASSWORD='9#FwqTJgegRa@'
