BASE_URL=https://apps.ntgcloud.net/
STAFF_URL=https://apps.ntgcloud.net/
API_URL=https://your-api.example.com
TEST_ENV=qa

INVESTIGATOR_EMAIL=
INVESTIGATOR_PASSWORD=  

LEAD_INVESTIGATOR_EMAIL=
LEAD_INVESTIGATOR_PASSWORD=

HOD_EMAIL=
HOD_PASSWORD=

GCIAO_EMAIL=
GCIAO_PASSWORD=

GRC_EMAIL=
GRC_PASSWORD=

HR_EMAIL=
HR_PASSWORD=

LEGAL_EMAIL=
LEGAL_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=
